* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    min-width: 1400px;
    overflow: hidden;
}

.menu{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    width: 410px;
    border: 1px solid #CECECE;
    border-radius: 5px;

    overflow-y: auto;
    max-height: 80%;
}

#separator{
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
}



.editor{
    top: 5vh;
    right: 5ch;
    position: absolute;
    z-index: 9;
    width: 200px;
    cursor: move;
}

.editor-tools-element{
    cursor: pointer;
}

.editor-tools-element button{
    height: 40px;
    width: 40px;
}

#editor-config{
    left: 5vh;
    width: 300px;
}

#editor-general-elements{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
